<!doctype html>
<html lang="en">
 
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
      <meta name="generator" content="Hugo 0.88.1">
      <title>Dashboard Template · Bootstrap v5.1</title>
  
      <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">
  
      
  
      <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  
      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
  
      
      <!-- Custom styles for this template -->
      <link href="css/dashboard.css" rel="stylesheet">
      <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
  </head>

  <body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Crud y autentificación</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button  >
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="/logout">Sign out</a>
        </div>
      </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 shadow-lg p-3 mb-5">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">Ingresar personal</div>
                    <div class="card-body text-primary">
                        <form action="/agregarPersonal" method="POST">
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Ingrese Nombre</label>
                                <input id="nombre" name="nombre" type="text" class="form-control" aria-describedby="emailHelp"> 
                            </div>
                            <div class="mb-3">
                                <label for="cargo" class="form-label">Ingrese Cargo</label>
                                <input id="cargo" name="cargo" type="text" class="form-control" > 
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">Ingrese Correo</label>
                                <input id="correo" name="correo" type="email" class="form-control" > 
                            </div>
                            <div>
                                <div class="card-footer bg-transparent border-primary">
                                    <a href="/" type="button" class="btn btn-secondary">Cancelar</a>
                                     <button type="submit" class="btn btn-primary" href="/" >Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(locals.alert) { %>
      <script>
          Swal.fire({
              title: '<%= alertTitle %>',
              text:'<%= alertMessage %>',
              icon:'<%= alertIcon %>',
              showConfirmButton: <%= showConfirmButton %>,
              timer: <%= timer %>
          }).then(()=>{
              window.location = '<%= ruta %>'
          })
      </script>
      <% } %>
  </body>
</html>